.package-section {
  position: relative;
  background: #6f5bd4;
  overflow: hidden;
}

.package-container {
  max-width: 1400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px 100px;
}

/* ================= IMAGE ================= */

.package-image {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  overflow: hidden;
  border: 12px solid #79a8ff;
  flex-shrink: 0;
}

.package-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ================= CONTENT ================= */

.package-content {
  max-width: 650px;
  color: #fff;
}

.package-content h2 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 25px;
}

.package-content p {
  font-size: 1.25rem;
  line-height: 1.8;
  margin-bottom: 35px;
}

.package-btn {
  background: #ffd75a;
  color: #111;
  border: none;
  padding: 18px 25px;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
}

.package-btn:hover {
  transform: translateY(-3px);
}

/* ================= CLOUDS ================= */

.cloud {
  position: absolute;
  width: 120px;
  height: 40px;
  background: #fff;
  border-radius: 50px;
}

.cloud::before,
.cloud::after {
  content: "";
  position: absolute;
  background: #fff;
  border-radius: 50%;
}

.cloud::before {
  width: 55px;
  height: 55px;
  left: 15px;
  top: -25px;
}

.cloud::after {
  width: 65px;
  height: 65px;
  right: 15px;
  top: -32px;
}

.cloud-top {
  top: 110px;
  left: 220px;
  transform: scale(0.8);
}

.cloud-left {
  bottom: 110px;
  left: 130px;
  transform: scale(0.7);
}

.cloud-right {
  right: 170px;
  bottom: 180px;
  transform: scale(0.8);
}

/* ================= STARS ================= */

/* .stars {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  color: #ffd84d;
  font-size: 2rem;
}

.stars-left {
  top: 80px;
  left: 20px;
  width: 100px;
}

.stars-right {
  top: 20px;
  right: 20px;
  width: 100px;
} */

/* ================= RESPONSIVE ================= */

@media (max-width: 1200px) {
  .package-container {
    gap: 60px;
  }

  .package-image {
    width: 430px;
    height: 430px;
  }

  .package-content h2 {
    font-size: 2.7rem;
  }
}

@media (max-width: 991px) {
  .package-container {
    flex-direction: column;
    text-align: center;
  }

  .package-image {
    width: 350px;
    height: 350px;
  }

  .package-content h2 {
    font-size: 2.2rem;
  }

  .package-content p {
    font-size: 1.1rem;
  }
}

@media (max-width: 576px) {
  .package-section {
    padding: 60px 20px;
  }

  .package-image {
    width: 280px;
    height: 280px;
  }

  .package-content h2 {
    font-size: 1.7rem;
  }

  .package-content p {
    font-size: 1rem;
  }

  .package-btn {
    width: 100%;
  }

  .stars,
  .cloud {
    display: none;
  }
}