.location-section {
 
}

.location-container {
  max-width: 1300px;
  margin:auto;
}


.location-map iframe {
  width: 100%;
  height: 250px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

@media (max-width: 992px) {
  .location-container {
    grid-template-columns: 1fr;
  }

  .location-heading h2 {
    font-size: 34px;
  }

  .location-map iframe {
    height: 350px;
  }
}

@media (max-width: 768px) {
  .location-section {
    padding: 70px 5%;
  }

  .location-heading h2 {
    font-size: 30px;
  }

  .location-card {
    padding: 25px;
  }
}