

.container {
  max-width: 1300px;
  margin: auto;
}

/* HEADING */
.service-heading {
  text-align: center;
  margin-bottom: 60px;
}

.service-heading h2 {
  font-size: 32px;
  font-weight: 700;
  color: #111;
  max-width: 1100px;
  margin: auto;
  line-height: 1.3;
}

/* GRID */
.service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

/* IMAGE CARD */
.service-image-card {
  position: relative;
  height: 300px;
  overflow: hidden;
  border-radius: 22px;
  cursor: pointer;
  box-shadow: 0 10px 35px rgba(0,0,0,0.08);
}

.service-image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.6s ease;
}

.service-image-card:hover img {
  transform: scale(1.08);
}

.image-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.65),
    rgba(0,0,0,0.15)
  );
}

.service-image-card h3 {
  position: absolute;
  left: 28px;
  bottom: 28px;
  color: #fff;
  font-size: 34px;
  font-weight: 700;
  z-index: 2;
}

/* TEXT CARD */

.service-text-card {
  padding: 20px 25px;
  border-radius: 22px;
  color: #fff;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 10px 35px rgba(0,0,0,0.08);
  transition: 0.4s ease;
}

.service-text-card:hover {
  transform: translateY(-8px);
}

.service-text-card h3 {
  font-size: 24px;
  margin-bottom: 24px;
  line-height: 1.3;
}

.service-text-card p {
  line-height: 1.9;
  margin-bottom: 22px;
  font-size: 16px;
}

.service-text-card span {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  display: block;
}

.service-text-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
}

.service-text-card li {
  margin-bottom: 14px;
  font-size: 17px;
  position: relative;
  padding-left: 20px;
}

.service-text-card li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
}


/* CARD COLORS */

.pink-card {
  background: linear-gradient(135deg, #ff008c, #ff4da6);
}

.orange-card {
  background: linear-gradient(135deg, #ff6a00, #ff9f43);
}

.green-card {
  background: linear-gradient(135deg, #45b649, #7ed957);
}

/* TABLET */

@media (max-width: 1024px) {

  .service-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .service-heading h2 {
    font-size: 42px;
  }
}

/* MOBILE */

@media (max-width: 768px) {

  .service-grid {
    grid-template-columns: 1fr;
  }

  .service-heading h2 {
    font-size: 32px;
  }

  .service-image-card,
  .service-text-card {
    min-height: 320px;
    height: 320px;
  }

  .service-text-card {
    padding: 28px;
  }

  .service-text-card h3 {
    font-size: 26px;
  }

  .service-image-card h3 {
    font-size: 28px;
  }
}