/* .about-section {
  background: #f4ecdd;
} */

.about-container {
  max-width: 1300px;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

/* ================= IMAGES ================= */

.about-images {
  display: flex;
  gap: 20px;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* .left-column img:first-child {
  height: 460px;
}

.right-column img:last-child {
  height: 460px;
} */

.about-images img {
  width: 100%;
  border-radius: 14px;
  object-fit: cover;
}

/* ================= CONTENT ================= */

.about-content h2 {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
}

.heading-line {
  width: 140px;
  height: 4px;
  background: #d4af37;
  margin-bottom: 30px;
}

.about-content p {
  font-size: 16px;
  line-height: 1.6;
  color: #222;
  margin-bottom: 18px;
}

.about-btn {
  padding: 18px 40px;
  background: #f4c542;
  border: none;
  border-radius: 8px;

  font-size: 18px;
  font-weight: 600;
  cursor: pointer;

  transition: 0.3s ease;
}

.about-btn:hover {
  transform: translateY(-3px);
}

/* ================= RESPONSIVE ================= */

@media (max-width: 992px) {

  .about-container {
    grid-template-columns: 1fr;
  }

  .about-content h2 {
    font-size: 40px;
  }

}

@media (max-width: 576px) {

  .about-images {
    flex-direction: column;
  }

  .about-content h2 {
    font-size: 32px;
  }

  .about-content p {
    font-size: 16px;
  }

}