.topbar {
  background: #111;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 50px;
  font-size: 14px;
}

/* Social Icons */
.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: white;
  font-size: 16px;

  transition: 0.3s;
}

.social-icons a:hover {
  color: #ff4d6d;
  transform: translateY(-2px);
}

/* Contact */
.top-contact {
  display: flex;
  gap: 25px;
}

.top-contact span {
  display: flex;
  align-items: center;
  gap: 6px;
}


/*----------mainnav------------*/
.mainnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.logo img {
  width: 50px;
  height: auto;
  display: block;
}

.search-box input {
  padding: 8px 12px;
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
}

.menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.menu li {
  cursor: pointer;
  font-weight: 500;
}

.menu li:hover {
  color: #e91e63;
}

.contact-btn {
  padding: 8px 16px;
  background: #e91e63;
  border: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}