.features {
  /* background: #fbcfe8; */
}

.features-container {
  max-width: 1300px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.feature-card {
  background: #fbcfe8;
  padding: 30px 25px;
  border-radius: 16px;
  text-align: center;
  transition: 0.3s ease;
}

.feature-image-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.feature-image-circle {
  width: 120px;
  height: 120px;
  background: #fff;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.feature-icon {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-text {
  font-size: 16px;
  line-height: 1.7;
  font-weight: 500;
  color: #111827;
}

/* Tablet */
@media (max-width: 992px) {
  .features-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 576px) {
  .features-container {
    grid-template-columns: 1fr;
  }
}