@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.default-padding{
  padding: 50px 0px;
}

/* ================= HEADING ================= */

.section-heading {
  text-align: center;
  margin-bottom: 60px;
}

.section-heading h2 {
  font-size: 32px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}

.heading-line {
  width: 90px;
  height: 4px;
  background: #d4af37;
  margin: auto;
}